// COLORS
// Фон левого меню
$c-grayLightOne: #f2f2f2;
$c-grayNormalOne: rgb(151, 151, 151);
$c-redMain: #EF5353;
// z-indexы
$z-header: 100;
$z-leftMenu: 50;
$z-popupOne: 150;
// Радиусы
$r-one: 4px;