.addBtnText {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    &:hover {
        cursor: pointer;
    }
    &__iconPlus {
        margin-right: 5px;
    }
}