@import '../../scss/helpers/_variables.scss';

.popupAddSkill {
    &__bg {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, .3);
        z-index: 1000;
    }
    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 200px;
        width: 200px;
        background: white;
        border-radius: $r-one;
    }
}